.card-container{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    
}
