
.card-body{
    height: fit-content;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center;
    height: 100% !important;
    position: relative !important;
    border-radius: 20px !important;
    padding: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    max-width: 360px;
}

.card-body-1{
    display: flex;
    width: 100%;
    padding: 5px 0px;
}

.card-body-2{
    width: 100%;
    flex: 1 1 0%;
    padding: 8px 16px;
}

.card-body-3{
    flex-grow: 1;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.posted-header{
    padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
}

.posted-header-container{
    flex-grow: 1;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.posted-header > p{
    margin: 0px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 9px;
}

.card-body-2 > .company{
    display: flex;
    gap: 0.5rem;
}

.info-container > h3{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
}

.info-container > h2{
    font-size: 14px;
    line-height: 1.5;
}

.cards-sub-text {
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
}

.job-description{
    height: 250px;
    overflow: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.job-description p{
    margin: 0px;
    /* font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2; */
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}

.job-description .desc{
    white-space: pre-wrap;
    font-size: 14px;
}

.show-more-container{
    text-align: center;
    margin-bottom: 0.5rem;
    position: relative;
    top: -20px;
}

.status-container{
    flex-grow: 1;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.easy-apply-container{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.easy-apply-container > button{
    width: 100%;
    background-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 8px;
    margin: 5px 0;
}

.easy-apply-container > button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(25, 118, 210);
    text-transform: none;
    font-size: 16px;
}

.status-container > button{
    width: 100%;
    background-color: rgb(73, 67, 218);
    font-weight: 500;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(25, 118, 210);
    text-transform: none;
    font-size: 16px;
}

#custom-btn{
    color: #fff;
    text-transform: none;
    padding: 8px 20px;
    border-radius: 8px;
    margin: 5px 0;
}

.referral-btn{
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
}

.avatar-container{
    display: flex;
    flex-direction: row-reverse;
}

.avatar-container-wrapper{
    width: 24px;
    height: 24px;
    border: 1px solid white;
    font-size: 10px;
}